---
import Layout from '../layouts/Layout.astro';

// 日本時間にformat
const jpBuildDate = new Date().toLocaleString('ja-JP', {
	timeZone: 'Asia/Tokyo',
	year: 'numeric',
	month: '2-digit',
	day: '2-digit',
	hour: '2-digit',
	minute: '2-digit',
	second: '2-digit',
});
---

<Layout>
	<h1>
		XServer VPS に Github Actions 経由でデプロイするサンプルサイト
	</h1>
	<p>ビルド日時: {jpBuildDate}</p>
</Layout>
